.errors {
    padding: 5rem 0;
    .flex-center {
        align-items: center;
        display: flex;
        justify-content: center;
    }
    .code {
        border-right: 2px solid;
        font-size: 26px;
        padding: 0 15px 0 15px;
        text-align: center;
    }
    .message {
        font-size: 18px;
        text-align: center;
        padding: 10px;
    }
}
